*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    background-color: darkgrey;
    min-height: 100vh;
    flex-direction: column;
}

.paragraph{
    font-size: 20px;
}

.header{
    background-color: white;
    flex-basis: 100%;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.mainContent{
    flex: 1 0 400px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 10px;
    align-content: center;
}

.item{
    width: 350px;
    height: 230px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color: white;
    flex-basis: 100%;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
}


